# JWT Signing Secret Key
JWT_SECRET=your_secret_key_here

# MongoDB Connection String
MONGODB=mongodb://127.0.0.1:27017/Postaway
# MONGODB=mongodb+srv://<usernamr>:<password>@<cluster_address>/Postaway?appName=<cluster_name>

# SMTP Data
GMAIL_USER=yourMailId@gmail.com
GMAIL_PASS=your app password


# JWT Signing Secret Key
JWT_SECRET=postaway

# Server port
PORT=5000

# Setting environment
NODE_ENV=development